<!-- pago-klap.component.html -->
<div class="qr-container">
    <!-- Logo superior (grande) -->
    <img src="assets/klap.png" alt="Logo principal Klap" class="logo-top" />
  
   
  <p class="instruction instruction--large">
    EMHpsicoterapiaonline
  </p>
  
    <!-- QR -->
    <img
      src="assets/qr.png"
      alt="QR de pago Klap"
      class="qr-image"
    />
  
    <!-- Texto debajo del QR -->
    <p class="instruction">
      Escanea el código&nbsp;QR y paga con crédito, débito o prepago
    </p>
  
    <!-- Logo inferior (más pequeño) -->
    <img src="assets/logo3.png" alt="Logo secundario" class="logo-bottom" />
  </div>
  